.atomContainer
    box-sizing: border-box
    padding: 40px 0 0 0
    font-family: "Product Sans",sans-serif
    line-height: 1.5

.introContainer
    padding: 30px 12px
    margin: 0 52px

.introSection
    max-width: 1040px
    display: flex
    flex-direction: row
    justifyi-content: space-between
    align-items: center
    margin: 0 auto
    gap: 40px

.introTextBlock
    width: 50%
    text-align: left
    display: flex
    flex-direction: column

.introSubtitle
    padding: 7px 15px
    margin: 0 0 10px
    font-size: 12px
    font-weight: 400
    color: #377dff
    background-color: rgba(55, 125, 255, 0.1)
    border-radius: 20px
    align-self: start

.introTitle
    font-size: 40px
    font-weight: 700
    margin: 0 0 10px

.introDescription
    margin: 0 0 40px
    color: rgba(25, 24, 74, 0.5)
    margin: 0 0 40px

.introVideo
    width: 520px
    height: 293px
    border-radius: 20px
